<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
   version="6.0">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
        <!-- Cấu hình Welcome File List -->
    <welcome-file-list>
        <!-- Server sẽ tìm kiếm các file này trong thư mục gốc của ứng dụng (Web Content hoặc webapp) 
             theo thứ tự. File đầu tiên tìm thấy sẽ được hiển thị. -->
        <welcome-file>list_students.jsp</welcome-file>
        <welcome-file>add_student.jsp</welcome-file>
        <welcome-file>process_add.jsp</welcome-file>
        <welcome-file>edit_student.jsp</welcome-file>
        <welcome-file>process_edit.jsp</welcome-file>
        <welcome-file>delete_student.jsp</welcome-file>
    </welcome-file-list>
</web-app>
